:root {
  --blue: rgb(0, 0, 89);
  --mainColor: #f5f5f7;
  --borderColor: rgb(193, 193, 193);
}
.dallas-container{
  display: flex;
}
.dallas-box {
  width: 37%;
  background-color: white;
  padding: 30px;
  margin: 20px;
  border-radius: 10px;
  .box-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .detail-btn {
      padding: 8px;
      border: none;
      border-radius: 10px;
      font-size: 13px;
    }
    .detail-btn:hover {
      cursor: pointer;
    }
  }
  .vaccine-info {
    background-color: var(--mainColor);
    margin: 10px;
    border: none;
    border-radius: 10px;
    padding: 10px;
    p {
      font-size: 14px;
      margin: 5px;
    }
  }
  .heading {
    font-weight: bold;
    font-size: 14px;
    color: var(--blue);
    margin-top: 1.2rem;
    margin-bottom: 0.8rem;
  }
  .percentage {
    display: flex;
    align-items: center;
    font-weight: bold;
    opacity: 0.6;
    .percent {
      font-size: 25px;
    }
    .people-count {
      margin-left: 10px;
      font-size: 14px;
    }
  }
  .guideline {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid var(--borderColor);
    padding-bottom: 10px;
    opacity: 0.6;
    font-size: 14px;
    margin-top: 5px;
    .guideline-name {
      color: #000059;
      margin-right: 5px;
      font-weight: bold;
    }
    .guideline-first-part {
      display: flex;
    }
    .guideline-second-part {
      color: red;
      background-color: rgb(230, 160, 160);
      padding: 2px;
      border-radius: 5px;
    }
    .green {
      color: green;
      background-color: rgb(157, 176, 157);
    }
  }
  .results {
    display: flex;
    margin-top: 1.2rem;
    .icon {
      background-color: var(--mainColor);
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 12px;
      border-radius: 10px;
    }
    .result-info {
      margin-left: 1rem;
      font-size: 14px;
      .percent {
        color: green;
      }
      .blue {
        color: dodgerblue !important;
      }
    }
  }
}
