.sidebar-container {
    background-color: dodgerblue;
  height: 100vh;
  width: 18%;
  .logo {
    display: flex;
    align-items: center;
    #med-logo {
      font-size: 28px;
      margin: 10px;
    }
  }
}
