.header {
  width: 98%;
  margin: 0 auto;
  padding-top: 2rem;
  padding-left: 1.7rem;
  border-bottom: 1px solid rgb(193, 193, 193);
  padding-bottom: 5px;
  h1 {
    color: rgb(0, 0, 89);
  }
  .header-navigation-list {
    width: 45%;
    margin-top: 2rem;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .header-navigation-item:hover {
      font-weight: bold;
      cursor: pointer !important;
      padding-bottom: 2px;
      border-bottom: 2px solid dodgerblue;
    }
    .nav-link {
      color: black;
      text-decoration: none;
    }
  }
}
