.recommendation-container {
  width: 60%;
  background-color: white;
  padding: 30px;
  margin: 20px;
  border-radius: 10px;
  h3 {
    margin-bottom: 20px;
  }
  .heading {
    margin-bottom: 7px;
    font-weight: bold;
    font-size: 14px;
  }
  .percentage {
    display: flex;
    align-items: center;
    opacity: 0.6;
    font-weight: bold;
    .percent {
      font-size: 25px;
    }
    .people-count {
      font-size: 14px;
      margin-left: 10px;
    }
  }
  .target {
    margin-top: 20px;
  }
}
