.sidebar-container {
  height: 93vh;
  width: 15%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-right: 1px solid rgb(193, 193, 193);
  .sidebar-header {
    .logo {
      display: flex;
      align-items: center;
      margin-bottom: 2rem;
      margin-left: 0.8rem;
      #med-logo {
        font-size: 28px;
        margin: 10px;
        color: dodgerblue;
      }
      .logo-name {
        font-weight: bold;
        color: rgb(0, 0, 89);
      }
    }
    .sidebar-navigation {
      .sidebar-sections {
        opacity: 0.5;
        display: flex;
        align-items: center;
        margin: 20px;
        .icons {
          font-size: 1.5rem;
        }
        p {
          margin-left: 1.5rem;
        }
      }
      .sidebar-sections:hover {
        color: dodgerblue;
        cursor: pointer;
        opacity: 1;
        border-left: 1px solid dodgerblue;
        padding-left: 5px;
      }
      .sidebar-sections:hover p {
        font-weight: bold;
        color: black;
      }
    }
  }
  .sidebar-footer {
    display: flex;
    align-items: center;
    margin-left: 1rem;
    img {
      width: 2rem;
      height: 2rem;
      border-radius: 100%;
    }
    div,
    .icon {
      margin-left: 10px;
      opacity: 0.6;
      font-size: 14px;
    }
  }
  .sidebar-footer:hover {
    cursor: pointer;
    opacity: 1;
  }
}
